<div class="sidebar">
  <a [routerLink]="['/add-company']">
    <i class="fa fa-plus" aria-hidden="true"></i> Add Company
  </a>
  <a [routerLink]="['/add-customer']">
    <i class="fa fa-plus" aria-hidden="true"></i> Add Customer
  </a>
  <a [routerLink]="['/get-all-customers']">
    <i class="fa fa-users" aria-hidden="true"></i> Get All Customers
  </a>
  <a [routerLink]="['/get-all-companies']">
    <i class="fa fa-users" aria-hidden="true"></i> Get All Companies
  </a>
</div>

<div class="content">
  <app-all-coupons></app-all-coupons>
</div>
