<mat-grid-list cols="3" rowHeight="1:2">
  <mat-card-title>All Coupons: </mat-card-title>
  <mat-grid-tile *ngFor="let coupon of coups">
    <mat-card class="example-card">
      <div class="ribbon ribbon-top-right" *ngIf="coupon.price % 5 === 0">
        <span> &nbsp;&nbsp;&nbsp; 🔥🔥HOT ITEM🔥🔥 </span>
      </div>
      <div class="img">
        <img mat-card-image src="../../../assets/images/{{ coupon.id }}.jpg" />
      </div>
      <mat-card-header>
        <mat-card-title style="font-size: 40px; padding: 30px"
          >{{ coupon.title }}:</mat-card-title
        >
      </mat-card-header>
      <mat-card-content> Category: {{ coupon.category }} </mat-card-content>
      <mat-card-content> Title: {{ coupon.title }} </mat-card-content>
      <mat-card-content>
        Description: {{ coupon.description }}
      </mat-card-content>
      <mat-card-content>
        Start Date: {{ coupon.startDate | date: "dd/MM/yyyy" }}
      </mat-card-content>
      <mat-card-content>
        End Date: {{ coupon.endDate | date: "dd/MM/yyyy" }}
      </mat-card-content>
      <mat-card-content> Left in Stock: {{ coupon.amount }} </mat-card-content>
      <mat-card-content>
        Price: {{ coupon.price | currency: "USD" }}
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-button
          style="background-color: greenyellow; color: white"
          *ngIf="type === 'customer'"
          (click)="purchaseCoupon(customerID, coupon)"
        >
          Buy Me!&nbsp;<i class="bi bi-bag"></i>&nbsp;&nbsp;&nbsp;
        </button>
        <a routerLink="/coupon/{{ coupon.id }}"> More Details </a>
        <span
          mat-button
          style="background-color: white; color: red"
          *ngIf="type !== 'customer'"
        >
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; login to Buy...
        </span>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<!-- 
<div class="container mt-5 mb-5">

  <div class="row">

      <div class="col-lg-4" *ngFor="let coupon of coups">

          <div class="foodbox mt-3 mb-3">
              <img src="../../../assets/images/{{ coupon.id }}.jpg">
              <h1>{{coupon.title}}</h1>
              <p>{{coupon.description}}</p>
              <p>{{coupon.price | currency:'INR'}}</p>
              <br/>
              <a class="buybtn" [routerLink]="['/menu',fd.id]">Buy Now &nbsp;<i class="bi bi-bag"></i></a>
          </div>

      </div>

  </div>

</div> -->
