<div>
  <button name="send" [routerLink]="['/add-coupon']">
    Add Coupon <mat-icon>add</mat-icon>
  </button>
  <table>
    <tr>
      <th>Company ID:</th>
      <th>Category:</th>
      <th>Title:</th>
      <th>Description:</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Img</th>
      <th>Edit</th>
    </tr>

    <tr *ngFor="let coupon of coups">
      <td *ngIf="coupon.id === editRowID">
        <!-- <input type="number" [(ngModel)]="coupon.companyID" /> -->
        {{ coupon.companyID }}
      </td>

      <td *ngIf="coupon.id !== editRowID && coupon.companyID === id">
        {{ coupon.companyID }}
      </td>

      <td *ngIf="coupon.id === editRowID">
        <input type="text" [(ngModel)]="coupon.category" />
      </td>
      <td
        *ngIf="coupon.id !== editRowID && coupon.companyID === id"
        (click)="Edit(coupon.id)"
      >
        {{ coupon.category }}
      </td>
    </tr>

    <tr *ngFor="let coupon of coups">
      <td *ngIf="coupon.id === editRowID">
        <!-- <input type="number" [(ngModel)]="coupon.companyID" /> -->
        {{ coupon.companyID }}
      </td>

      <td *ngIf="coupon.id !== editRowID && coupon.companyID === id">
        {{ coupon.companyID }}
      </td>

      <td *ngIf="coupon.id === editRowID">
        <input type="text" [(ngModel)]="coupon.category" />
      </td>
      <td
        *ngIf="coupon.id !== editRowID && coupon.companyID === id"
        (click)="Edit(coupon.id)"
      >
        {{ coupon.category }}
      </td>

      <td *ngIf="coupon.id === editRowID">
        <input type="text" [(ngModel)]="coupon.title" />
      </td>
      <td
        *ngIf="coupon.id !== editRowID && coupon.companyID === id"
        (click)="Edit(coupon.id)"
      >
        {{ coupon.title }}
      </td>

      <td *ngIf="coupon.id === editRowID">
        <input type="text" [(ngModel)]="coupon.description" />
      </td>
      <td
        *ngIf="coupon.id !== editRowID && coupon.companyID === id"
        (click)="Edit(coupon.id)"
      >
        {{ coupon.description }}
      </td>
      <td *ngIf="coupon.id === editRowID">
        <input type="datetime-local" [(ngModel)]="coupon.startDate" />
      </td>
      <td
        *ngIf="coupon.id !== editRowID && coupon.companyID === id"
        (click)="Edit(coupon.id)"
      >
        {{ coupon.startDate | date: "dd/MM/yyyy" }}
      </td>
      <td *ngIf="coupon.id === editRowID">
        <input type="datetime-local" [(ngModel)]="coupon.endDate" />
      </td>
      <td
        *ngIf="coupon.id !== editRowID && coupon.companyID === id"
        (click)="Edit(coupon.id)"
      >
        {{ coupon.endDate | date: "dd/MM/yyyy" }}
      </td>
      <td *ngIf="coupon.id === editRowID">
        <input type="number" [(ngModel)]="coupon.amount" />
      </td>
      <td
        *ngIf="coupon.id !== editRowID && coupon.companyID === id"
        (click)="Edit(coupon.id)"
      >
        {{ coupon.amount }}
      </td>
      <td *ngIf="coupon.id === editRowID">
        <input type="number" [(ngModel)]="coupon.price" />
      </td>
      <td
        *ngIf="coupon.id !== editRowID && coupon.companyID === id"
        (click)="Edit(coupon.id)"
      >
        {{ coupon.price }}
      </td>
      <td *ngIf="coupon.id === editRowID">
        <input type="text" [(ngModel)]="coupon.img" />
      </td>
      <td
        *ngIf="coupon.id !== editRowID && coupon.companyID === id"
        (click)="Edit(coupon.id)"
      >
        {{ coupon.img }}
      </td>

      <td *ngIf="coupon.companyID === id">
        <button
          (click)="deleteCoupon(coupon.id)"
          mat-fab
          color="warn"
          aria-label="Example icon button with a delete icon"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <button
          (click)="updateCoupon(coupon)"
          mat-fab
          color="primary"
          aria-label="Example icon button with a edit icon"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</div>
