<!-- <mat-toolbar color="primary">
  <span class="example-spacer"></span>

  <div class="header">
    <img src="../../../assets/images/coupon-logo.jpg" alt="logo" />
    <h1>Coupon System JB</h1>
  </div>
  <button
    *ngIf="checkIfAdmin()"
    mat-raised-button
    color="primary"
    [routerLink]="['/admin']"
  >
    Back to Admin Page
  </button>
  <button
    *ngIf="checkIfCompany()"
    mat-raised-button
    color="primary"
    [routerLink]="['/get-all-coupons']"
  >
    Back to Company Page
  </button>
  <button
    *ngIf="checkIfCustomer()"
    mat-raised-button
    color="primary"
    [routerLink]="['/get-all-customer-coupons']"
  >
    Back to Home Page
  </button>
  <button
    *ngIf="!login()"
    mat-raised-button
    color="primary"
    [routerLink]="['/all-coupons']"
  >
    All-Coupons
  </button>
  <button *ngIf="!login()" mat-raised-button color="warn" (click)="logout()">
    Logout
  </button>
  <button
    *ngIf="login()"
    mat-raised-button
    color="primary"
    [routerLink]="['/login']"
  >
    Login
  </button>
  <button
    *ngIf="login()"
    mat-raised-button
    color="basic"
    [routerLink]="['/create-account']"
  >
    Create Account
  </button>
</mat-toolbar> -->



 

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand"
    *ngIf="checkIfAdmin()"
      [routerLink]="['/admin']"
          >Back to Admin Page</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"
    *ngIf="checkIfCompany()"
          [routerLink]="['/get-all-coupons']"
          >Back to Company Page</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <a class="navbar-brand"
    *ngIf="checkIfCustomer()"
    [routerLink]="['/get-all-customer-coupons']"
          >Back to Home Page</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto" >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/all-coupons']" *ngIf="!login()">All-Coupons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!login()" mat-raised-button color="warn" (click)="logout()">Logout</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" *ngIf="login()"
          [routerLink]="['/home']" 
        >
          Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" *ngIf="login()"
          [routerLink]="['/login']" 
        >
          Login</a>
        </li>
       
        
        <li class="nav-item">
          <a class="nav-link" *ngIf="login()"
          [routerLink]="['/create-account']"
        >
        Create Account</a>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
