.example-spacer {
  flex: 1 1 auto;
}

.header img {
  float: left;
  width: 15%;
  height: auto;
}

.header h1 {
  position: relative;
  top: 22px;
  right: 280px;
}

a {
  font-size: x-large;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link.active-link {
  color: var(--primary-color);
  text-decoration: underline;
}
