<div class="banner">
  <div class="content">
    <h1 class="mb-5">
      Coupon System<br /><br />
      Find The Best Deals!<br /><br />
      <span>SCROLL DOWN<i class="bi bi-arrow-down-circle"></i></span>
    </h1>
  </div>
</div>

<!-- foodbox  -->
<div class="container mt-4 mb-4">
  <h1 class="text-center">
    Customers <span class="highlight">Favourites Coupons:</span>
  </h1>
  <h2>Best Seller!</h2>
  <div class="row">
    <div class="col-lg-3 mt-3" *ngFor="let c of coups; index as i">
      <div class="coupun" *ngIf="i <= 3">
        <div class="product">
          <div class="ribbon-wrapper">
            <div class="ribbon">🔥HOT!🔥</div>
          </div>
          <img src="../../../assets/images/{{ c.id }}.jpg" />

          <h1>{{ c.title }}</h1>
          <p>{{ c.price | currency: "USD" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <span
    >Check all Coupons
    <a class="text-center" [routerLink]="['/all-coupons']">
      <span class="highlight2">Here</span></a
    ></span
  >
</div>

<!-- step  -->
<div class="container mt-5 mb-5">
  <h1 class="text-center">
    How to get <span class="highlight3">Coupons:</span>
  </h1>
  <div class="row mt-5">
    <!-- one  -->
    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <h1>1</h1>
        <p>Create your own account</p>
      </div>
    </div>
    <!-- two -->
    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <h1>2</h1>
        <p>Select your Coupon</p>
      </div>
    </div>
    <!-- three  -->
    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <h1>3</h1>
        <p>Purchase and enjoy your coupon!</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <a class="text-center" [routerLink]="['/create-account']"
    >Click Here <span class="highlight">to Start</span></a
  >
</div>
