<!-- <div class="container mt-5 mb-5">

    <div class="row">
 

        <div class="col-lg-6 col-12" *ngFor="let c of coups">
            <h1>Enter Your Details</h1>
            <form>

                <input type="text" class="form-control" placeholder="Enter Your Full Name" />
                <input type="text" class="form-control" placeholder="Enter Your Mobile" />
                <textarea class="form-control" placeholder="Enter Your Address"></textarea>
                <button
                    class="btn btn-md btn-dark mt-3"
                    (click)="purchaseCoupon(c,customerID)"      >
                    Place Order&nbsp;<i class="bi bi-bag"></i>
                 </button>

            </form>


        </div> 


    </div>

</div> -->